
<section class="create-account">
    <div class="container mt-5 px-3 py-3">
        <form id="new-account" class="row g-3 needs-validation card-body shadow p-5 rounded bg-white" novalidate>
            <h1 class="lead fw-bold mb-4">Create a new account and start Scribing today!</h1>
        <div class="col-md-4 ">
          <label for="validationCustom01" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationCustom01" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationCustom02" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Email</label>
          <div class="input-group has-validation">
           
            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom03" class="form-label">Password</label>
          <input type="text" class="form-control" id="validationCustom03" required>
          <div class="invalid-feedback">
            Please provide a valid password`.
          </div>
          <button type="button" id="create-account" class="btn bg-warning text-dark mt-4">Create an Account</button>

        </div>
     
</div>
</section>

