<section id="welcome"> 
    <div class="row my-5 align-items-center justify-content-center">
        <div class="col-md-7 col-xl-6 justify-content-center">
            <p class="lead"><strong>Welcome to Secure Scribe</strong>, where your thoughts, reflections, and memories are safeguarded with utmost care. Here, you can freely express yourself without worrying about prying eyes or unauthorized access. Your privacy and security are our top priorities, as we understand the importance of preserving your personal journey.</p>
            <p class="subtitle text-center text-muted">Please Sign-In or Create an Account</p>
            <div class="text-center">
                <button id="login-page" class="btn btn-warning mt-3 text-center shadow-l">Login</button>
                <button id="signup-page" class="btn btn-warning mt-3 text-center shadow-l">Create Account</button>
            </div>
        </div>
    </div>
</section>



<section id="reasons">
    <div class="row my-5 align-items-center justify-content-center border-top-1">
        <div class="col-md-6 col-lg-5">
            <h2 class="lead text-bold text-center fw-bold mt-4">Why you should consider Journaling -</h2>
            <ul class="list-group list-group-flush mt-3">
                <li class="list-group-item mt-3"><strong>Self-reflection</strong>: Journaling allows you to reflect on your thoughts, emotions, and experiences, leading to greater self-awareness and personal growth.</li>
                <li class="list-group-item mt-3"><strong>Emotional outlet</strong>: It provides a safe space to express and process emotions, reducing stress and promoting emotional well-being.</li>
                <li class="list-group-item mt-3"><strong>Goal setting</strong>: Writing down goals and aspirations helps clarify your intentions and increases accountability for achieving them.</li>
                <li class="list-group-item mt-3"><strong>Memory preservation</strong>: Keeping a journal preserves memories and experiences for future reflection and reminiscence.</li>
                <li class="list-group-item mt-3"><strong>Problem-solving</strong>: Journaling can help organize thoughts and clarify complex issues, leading to better problem-solving skills.</li>
            </ul>
        </div>
    </div>
</section>