{{!-- example of a login.handlebar file --}}
{{!-- this will contain only html referencing login information --}}
{{!-- this will feed back to main handlebars --}}

<section class="log-in">
  <div class="container mt-5 pt-5">
    <div class="row text-center justify-content-center border">
      <div class="col card-body shadow p-5 rounded bg-white">
        <h1 class="text-bold text-center">Welcome Back!</h1>
        <h2 class="lead pt-5 fw-bold">Login to access your account:</h2>
        <input type="text" class="form-control" placeholder="Username or Email" aria-label="Username or Email">
        <div class="col">
          <input type="text" class="form-control" placeholder="Password" aria-label="Password">
          <button type="button" id="login-button" class="btn bg-warning text-dark">Login</button>
        </div>
      </div>
    </div>
  </div>
</section>
