
<section>
    <div class="container py-5 my-5 py-3 px-3">
        <h1 class="text-center">An intimate exchange between the mind and the page</h1>
        <p class="lead mb-4 text-center py-2">Embrace the freedom to express yourself fully, knowing that your words
            are yours alone.
            Start your journey of reflection, growth, and self-awareness today, and let the pages of your digital
            journal bear witness to the beauty of your inner world.</p>
    </div>
</section>

{{!-- NEED TO POPULATE CARDS DYNAMICALLY --}}
<!-- Diary Entry cards to view/edit or delete-->
<section id="diary-entries">

    <div class="container border py-5 my-5">
        <h2>Previous Entries...</h2>
        <div class="row my-2 py-2">
            <div class="col-md-6 col-lg-3">
                <div class="card shadow-lg">
                    <img src="/img/top-view-hands-fill-diary.jpg" class="card-img-top"
                        alt="Someone writing a diary entry">
                    <div class="card-body">
                        <h5 class="card-title">Diary Entry</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn text-light bg-secondary">Edit</a>
                        <a href="#" class="btn bg-warning">Tear Out</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card shadow-lg">
                    <img src="/img/top-view-hands-fill-diary.jpg" class="card-img-top"
                        alt="Someone writing a diary entry">
                    <div class="card-body">
                        <h5 class="card-title">Diary Entry</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn text-light bg-secondary">Edit</a>
                        <a href="#" id="tear-out" class="btn bg-warning">Tear Out</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card shadow-lg">
                    <img src="/img/top-view-hands-fill-diary.jpg" class="card-img-top"
                        alt="Someone writing a diary entry">
                    <div class="card-body">
                        <h5 class="card-title">Diary Entry</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn text-light bg-secondary">Edit</a>
                        <a href="#" id="tear-out" class="btn bg-warning">Tear Out</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card shadow-lg">
                    <img src="/img/top-view-hands-fill-diary.jpg" class="card-img-top"
                        alt="Someone writing a diary entry">
                    <div class="card-body">
                        <h5 class="card-title">Diary Entry</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn text-light bg-secondary">Edit</a>
                        <a href="#" class="btn bg-warning" id="tear-out">Tear Out</a>
                    </div>
                </div>
            </div>
        </div>


</section>
<section id="new-entry">
    <h1 class="title text-center text-underline">Create a new entry<svg width="34" height="34" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path d="m19 20.25c0-.402-.356-.75-.75-.75-2.561 0-11.939 0-14.5 0-.394 0-.75.348-.75.75s.356.75.75.75h14.5c.394 0 .75-.348.75-.75zm-7.403-3.398 9.124-9.125c.171-.171.279-.423.279-.684 0-.229-.083-.466-.28-.662l-3.115-3.104c-.185-.185-.429-.277-.672-.277s-.486.092-.672.277l-9.143 9.103c-.569 1.763-1.555 4.823-1.626 5.081-.02.075-.029.15-.029.224 0 .461.349.848.765.848.511 0 .991-.189 5.369-1.681zm-3.27-3.342 2.137 2.137-3.168 1.046zm.955-1.166 7.651-7.616 2.335 2.327-7.637 7.638z" fill="#000"/>
</svg>

    </h1>
<section id="new-entry">
    <h1 class="title text-center text-underline">Create a new entry<svg width="34" height="34" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="m19 20.25c0-.402-.356-.75-.75-.75-2.561 0-11.939 0-14.5 0-.394 0-.75.348-.75.75s.356.75.75.75h14.5c.394 0 .75-.348.75-.75zm-7.403-3.398 9.124-9.125c.171-.171.279-.423.279-.684 0-.229-.083-.466-.28-.662l-3.115-3.104c-.185-.185-.429-.277-.672-.277s-.486.092-.672.277l-9.143 9.103c-.569 1.763-1.555 4.823-1.626 5.081-.02.075-.029.15-.029.224 0 .461.349.848.765.848.511 0 .991-.189 5.369-1.681zm-3.27-3.342 2.137 2.137-3.168 1.046zm.955-1.166 7.651-7.616 2.335 2.327-7.637 7.638z" fill="#000"/>
    </svg>

    </h1>
    <form action="/viewscribe" method="POST">
        <div class="container my-2 py-4 rounded">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control fw-light" id="title" placeholder="Today I discovered...">
        </div>
        <div class="container my-2 py-4 rounded">
            <label for="content" class="form-label">Jot down your thoughts, dreams or ideas</label>
            <textarea name="content" class="form-control" id="content" rows="3"></textarea>
            <button type="submit" class="btn text-light bg-secondary mt-4" id="submitscribe">Submit</button>
        </div>
    </form>
</section>

</section>












