{{!-- example filler template for partials this can be added to as need be --}}

    <!-- PAGE NAVIGATION-->
    {{!-- <nav class="navbar navbar-expand-lg bg-dark text-light">
        <div class="container-fluid">
            <a class="navbar-brand text-bold text-light" href="#" style="font-size: xx-large;">Secure Scribe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> --}}

    <section>
        <div class="container py-5 my-5 py-3 px-3">
            <h1 class="text-center">An intimate exchange between the mind and the page</h1>
            <p class="lead mb-4 text-center py-2">Embrace the freedom to express yourself fully, knowing that your words
                are yours alone.
                Start your journey of reflection, growth, and self-awareness today, and let the pages of your digital
                journal bear witness to the beauty of your inner world.</p>
        </div>
    </section>














    <!-- Diary Entry cards to view/edit or delete-->
    <section id="diary-entries">

        <div class="container border py-5 my-5">
            <h2>Previous Entries...</h2>
            <div class="row my-2 py-2">
                <div class="col-3">
                    <div class="card shadow-lg">
                        <img src="/img/top-view-hands-fill-diary.jpg" class="card-img-top"
                            alt="Someone writing a diary entry">
                        <div class="card-body">
                            <h5 class="card-title">Diary Entry</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn text-light bg-secondary">Edit</a>
                            <a href="#" id="tear-out" class="btn bg-warning">Tear Out</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card shadow-lg">
                        <img src="/img/top-view-hands-fill-diary.jpg" class="card-img-top"
                            alt="Someone writing a diary entry">
                        <div class="card-body">
                            <h5 class="card-title">Diary Entry</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn text-light bg-secondary">Edit</a>
                            <a href="#" id="tear-out" class="btn bg-warning">Tear Out</a>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card shadow-lg">
                        <img src="/img/top-view-hands-fill-diary.jpg" class="card-img-top"
                            alt="Someone writing a diary entry">
                        <div class="card-body">
                            <h5 class="card-title">Diary Entry</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn text-light bg-secondary">Edit</a>
                            <a href="#" id="tear-out" class="btn bg-warning">Tear Out</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card shadow-lg">
                        <img src="/img/top-view-hands-fill-diary.jpg" class="card-img-top"
                            alt="Someone writing a diary entry">
                        <div class="card-body">
                            <h5 class="card-title">Diary Entry</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn text-light bg-secondary">Edit</a>
                            <a href="#" id="tear-out" class="btn bg-warning">Tear Out</a>
                        </div>
                    </div>
                </div>
            </div>


    </section>
    <section id="new-entry">
        <h1 class="title text-center text-underline">Create a new entry 📝</h1>
        <div class="container my-2 py-4 rounded">
            <label for="exampleFormControlInput1" id="title" class="form-label">Title</label>
            <input type="email" class="form-control fw-light" id="exampleFormControlInput1"
                placeholder="Today I discovered...">
        </div>
        <div class="container my-2 py-4 rounded">
            <label for="exampleFormControlTextarea1" id="content" class="form-label">Jot down your thoughts, dreams or ideas</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            
        </div>

    </section>
